* {
    padding: 0;
    margin: 0;
    font-family: "Comic Sans MS";
}

h1 {
    font-size: 3em;
    font-family: "Magic Wix Script RUS";
    text-align: center;
}

header {
    background: 1px blanchedalmond;
}

img {
    width: 100%;
}

#search-container {
    justify-content: center;
    display: flex;
    border-top: 5px solid rosybrown;
}

#searchInput {
    margin: 5px;
    font-size: 1.2em;
}

#favorites-lists-button-container {
    justify-content: center;
    margin: 5px;
    display: flex;
}

#favoritesListButton {
    font-size: 1.5em;
    padding: 3px;
    color: black;
    background: yellow;
    outline-color: black;
    cursor: pointer;
    border: none;
}

#background {
    width: 60%;
    margin: 0 auto;
    background: seashell;
}

.flat-container {
    margin: 20px 0;
    display: flex;
    border: 2px outset rosybrown;
}

.photo-container {
    width: 45%;
}

.info-container {
    display: block;
    justify-content: space-between;
    width: 35%;
}

.flat-title-container, .flat-property-container, .flat-summary-container, .flat-more-description {
    font-size: 1em;

    padding: 8px;
}
.flat-more-description {
    cursor: pointer;
    visibility: visible;
    color: cornflowerblue;
}

.hidden-flat-more-description {
    visibility: hidden;
}

.rent-container {
    justify-content: space-between;
}

.flat-price-container {
    background: brown;
    text-align: center;
    color: snow;
}

.favoritesButton {
    font-size: 1.3em;
    color: black;
    background: yellow;
    outline-color: black;
    cursor: pointer;
    border: none;
    margin-bottom: 50%;
    width: 162px;
}

.search-warning {
    text-align: center;
    color: red;
    font-size: 1.5em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: snow;
    display: flex;
    justify-content: space-between;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid darkgrey;
    width: 80%;
}

.closeButton, .removeButton {
    color: black;
    padding: 0;
    border: none;
    font-size: 2em;
    background: none;
    cursor: pointer;
    outline: none;
}

.removeButton {
    color: red;
    font-size: 1.5em;
}

.favorite-flat {
    width: 100%;
    display: flex;
}
.favorite-flat-container {
    display: flex;
    margin-right: 50px;
    border-right: 5px solid rosybrown;
    border-bottom: 5px solid rosybrown;
}

#loader-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

#loader {
    border: 16px solid rosybrown;
    border-top: 16px solid brown;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#hide-loader{
    display:none;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page{
    border: 1px solid brown;
    cursor: pointer;
    padding: 5px;
    font-size: 2em;
}

.page:hover {
    background: yellow;
    color: snow;
}

#back-button, #next-button {
    color: brown;
    padding: 11px 0;
    margin: 0 5px;
    font-size: 1.5em;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

#back-button:hover, #next-button:hover {
    background: brown;
    color: snow;
}
